/* Average Page Layout */

html {
    background-color: cornflowerblue;
}

body {
    background-color: #3e3e42;
    width: 96%;
    margin: auto;
}

header {
    text-align: center;
}

header nav {
    background-color: black;
    width: 75%;
    margin: auto;
}

header a {
    text-decoration: none;
    color: aliceblue;
}

header #logo {
    text-align: left;
}

header #others {
    padding-left: 1em;
    padding-right: 1em;
    margin-left: auto 1em;
    margin-right: auto 1em;
    font-size: 3em;
    font-weight: 700;
    font-family: "Micro 5", sans-serif;
}

header #others:hover {
    background-color: ghostwhite;
    color: #3e3e42;
    transition-duration: 0.5s;
}

footer {
    background-color: crimson;
    text-align: center;
    width: 45%;
    margin: 1em 27.5%;
    border: 0.5em solid blue;
}

footer a {
    text-decoration: none;
    font-weight: 600;
    font-size: larger;
    color: white;
}

footer:hover {
    background-color: lightcoral;
    border: 0.5em solid skyblue;
    transition-duration: 1s;
}

footer a:hover {
    color: black;
    transition-duration: 0.5s;
}

/* Home Page Styling */

#view {
    width: 80%;
    margin: 1% 13.5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    gap: 1em;
}

#view article {
    width: 40%;
    background-color: darkblue;
    border: thick dashed blue;
    padding: 1em;
    text-align: center;
    color: white;
}

#view article img {
    width: 75%;
    height: 50%;
    margin: auto;
}

#view article p {
    width: 80%;
    margin: auto;
    font-size: 1.5em;
    padding: 1em;
    font-family: 'Micro 5', sans-serif;
}

#view article p strong {
    font-size: larger;
    padding: 0.5em;
    font-family: 'Jacquarda Bastarda 9', sans-serif;
}

#view article:hover {
    background-color: transparent;
    border: thick dashed transparent;
    color: lime;
    opacity: 75%;
}

#intro {
    width: 80%;
    color: white;
    background-color: rgba(47, 79, 79, 0.70);
    margin: 1% 10%;
}

#intro p {
    padding: 1em;
    width: 85%;
    margin: auto;
}